* {
    background-color: #000000;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    position: relative;
    top: 0px;
    color: #ffa260;
    border: #ffa260 2px solid;
    padding: 10px 15px;
    font-size: large;
}

button:hover {
    color: #f1ff5c;
    border: #f1ff5c 2px solid;
    top: -3px;
    box-shadow: 0 2px 5px #f1ff5c;
}

